.rename, .upload {width:500px;}
.upload dl dd {margin-top:10px; padding:5px;}
.upload input[type="file"] {padding:3px;border:1px solid #ccc;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}