<script type="text/javascript">
function popResetPwd(){
  $.vdsMasker(true);
  $('#pop-pwd').vdsMidst({wrapper:$(window)}).show();
}
function closeResetPwd(){
  var e = $('#pop-pwd');
  $.vdsMasker(false);
  e.hide().find('span.vdsfielderr').remove();
  e.find('form')[0].reset();
}
function updatePwd(){
  var e = $('#pop-pwd'), pwd = e.find('input[name="password"]');
  pwd.vdsFieldChecker({rules: {required:[true, '新密码不能为空'], password:[true, '新密码不符合格式要求']}, tipsPos:'br'});
  e.find('input[name="repassword"]').vdsFieldChecker({rules: {equal:[pwd.val(), '两次密码不一致']}, tipsPos:'br'});
  e.find('form').vdsFormChecker();
}
</script>
<div class="poper cut" id="pop-pwd"> <a class="close" onclick="closeResetPwd()"></a>
  <div class="poper-hd"><h3 class="f14 ta-c">重设用户密码</h3></div>
  <div class="pad10 cut">
    <form method="post" action="<{url m=$MOD c='user' a='reset_password' id=$user.user_id}>">
      <table class="dataform">
        <tr>
          <th width="90">新密码</th>
          <td><input class="w200 txt" name="password" type="password" /><p class="caaa mt10">可以包含字母、数字以及特殊符号，长度为6-32个字符</p></td>
        </tr>
        <tr>
          <th>确认新密码</th>
          <td><input class="w200 txt" name="repassword" type="password" /><p class="caaa mt10">再次输入新密码</p></td>
        </tr>
      </table>
    </form>
  </div>
  <div class="poper-bom ta-c">
    <button type="button" class="ubtn btn" onclick="updatePwd()">提交</button>
    <span class="sep40"></span>
    <button type="reset" class="fbtn btn" onclick="closeResetPwd()">取消</button>
  </div>
</div>