.absmu.latent {height:0;padding:0;border-bottom:1px solid #e6e6e6;-webkit-transition:height 0.3s;-moz-transition:height 0.3s;-o-transition:height 0.3s;transition:height 0.3s;}
.cart {width:100%;}
.cart .gli {background:#fff;}
.cart .gli ul {display:block;width:100%;height:auto;overflow:hidden}
.cart .gli ul li {display:block;height:auto;padding:15px 8px;border-bottom:1px solid #eee;overflow:hidden}
.cart .gli ul li .act {padding:5px 10px 0 0;}
.cart .gli ul li .im {float:left;width:80px;height:80px;}
.cart .gli ul li .im img {width:100%;}
.cart .gli ul li .info {margin-left:90px;width:auto;}
.cart .gli ul li .info p.name {color:#555;}
.cart .gli ul li .price {color:#e95d4e;}
.cart .gli ul li .opts {color:#999;}
.cart .gli ul li .opts span {margin-right:5px;}
.cart .gli ul li .opts font {color:#666;}
.nodata a.stroll {display:block;width:200px;height:40px;line-height:40px;color: #FFFFCC;background:#f44263;border-radius:3px;}
.gli .qty {float:left;width:80px;height:25px;}
.gli .qty a {float:left;display:inline-block;font-size:14px;width:18px;height:23px;line-height:23px;color:#777;text-align:center;border:1px solid #aaa;background:#f2f2f2;}
.gli .qty a.minus {border-top-left-radius:3px;border-bottom-left-radius:3px;}
.gli .qty a.plus {border-top-right-radius:3px;border-bottom-right-radius:3px;}
.gli .qty input {float:left;width:30px;height:23px;line-height:23px;text-align:center;border:1px solid #aaa;border-left:none;border-right:none;outline:none;}
.gli .remove {float:right;display:block;height:25px;line-height:25px;}
.gli .remove i.iconfont {color:#d2d2d2}
.confirm {background:#f2f2f2;margin-bottom:50px;}
.confirm .row {min-height:36px;padding:8px 0;border-bottom:1px solid #e2e2e2;border-top:1px solid #fff;overflow:hidden}
.confirm .unfold {float:right;min-height:40px;line-height:40px;padding-left:8px;text-align:right;}
.confirm .unfold i {font-size:18px;color:#777;}
.confirm .lc {float:left;width:80px;height:32px;line-height:32px;font-size:14px;padding:0 10px;}
.confirm .rc {margin:0 8px 0 100px;overflow:hidden;}
.confirm .rc a.add {display:block;width:90%;min-width:170px;height:28px;line-height:28px;color:#339999;font-weight:bold;text-align:center;background:#fff;border:1px solid #A0CFCF;border-radius:100px;}
.confirm .parcel .lc {float:none;height:36px;line-height:36px;}
.confirm .parcel .rc {margin:0;}
.confirm .parcel .gli {display:block;padding:0 10px;overflow:hidden}
.confirm .parcel .gli li {display:block;height:auto;margin-top:2px;padding:10px 8px;border:1px solid #eee;background:#f9f9f9;overflow:hidden}
.confirm .parcel .gli li .im {float:left;width:50px;height:50px;}
.confirm .parcel .gli li .im img {width:100%;}
.confirm .parcel .gli li .info {margin-left:60px;width:auto;}
.confirm .parcel .gli li .info p.name {color:#555;}
.confirm .parcel .gli li .subtotal {text-align:right;}
.confirm .parcel .gli li .subtotal .q {margin:0 2px;}
.confirm .parcel .gli li .price {color:#e95d4e}
.memos .rc textarea {width:95%;height:60px;border:1px solid #8ab6dd;}
.confirm .amount {padding:10px 10px 5px 10px;background:#fff;}
.confirm .amount dl, .confirm .amount dt, .confirm .amount dd {display:block;}
.confirm .amount dl {line-height:30px;border-bottom:1px solid #eee;overflow:hidden}
.confirm .amount h3 {color:#666;padding-bottom:8px;border-bottom:1px solid #eee;}
.confirm .amount dt {float:left;width:90px;color:#555;}
.confirm .amount dd {margin-left:100px;text-align:right}
.confirm .amount .totals {border-bottom:none;}
.confirm .amount .totals dd {color:#e95d4e;font-weight:bold}
.confirm .submit a {display:block;min-width:180px;width:80%;max-width:300px;height:38px;line-height:38px;color:#fff;background:#f15353;border-radius:3px;}

.csnli {position:absolute;top:0;left:100%;min-height:100%;padding-bottom:10px;background:#eff2f5;z-index:9;}
.csnli .opts dl {display:block;padding:10px;background:#f6f6f6;border-top:1px solid #fff;border-bottom:1px solid #e5e5e5;}
.csnli .opts dl dd {display:block;}
.csnli .opts dl dd.l {float:left;width:20px;height:20px;padding:9px 0;}
.csnli .opts dl dd.l i.iconfont {display:block;width:18px;height:18px;line-height:0;font-size:0;text-align:center;border:1px solid #d5d5d5;background:#fff;border-radius:5px}
.csnli .opts dl dd.m {margin-left:35px;}
.csnli .opts dl dd.r {float:right;padding-left:10px;height:40px;line-height:40px;}
.csnli .opts dl dd.r i {font-size:20px;color:#aaa;}
.csnli .opts dl.checked dd.l i.iconfont {line-height:18px;font-size:18px;color:#339999;border-color:#339999}
.csnli .opts a.add {display:block;margin:20px auto 0 auto;width:200px;min-width:180px;height:32px;line-height:32px;color:#339999;font-weight:bold;text-align:center;background:#fff;border:1px solid #A0CFCF;border-radius:100px;}
.csnform {position:absolute;top:0;left:100%;min-height:100%;background:#eff2f5;z-index:10;}
.csnform .main {padding:10px 0;border-top:1px solid #e2e2e2;border-bottom:1px solid #e2e2e2;background:#f6f6f6;}
.csnform dl {display:block;padding:6px;overflow:hidden;}
.csnform dl dt {float:left;display:block;width:75px;height:32px;line-height:32px;text-align:right;font-size:14px;color:#555;}
.csnform dl dd {display:block;margin-left:90px;}
.csnform a.act {display:block;width:80%;height:38px;line-height:38px;color:#fff;font-size:14px;text-align:center;word-spacing:10px;border-radius:3px;}
.csnform a.submit {background:#f15353;}

.footact {background:#f6f6f6;border-top:1px solid #e5e5e5}
.footact .totals {height:40px;line-height:40px;text-align:center;}
.footact .act {width:100%;height:50px;line-height:50px;text-align:center;}
.footact .act a.clear {display:block;float:left;width:50%;height:50px;color:#339999;background:#e3e3e3}
.footact .act a.checkout {display:block;float:right;width:50%;height:50px;color:#fff;background:#ff3333}
.footact .act a.checkout i.iconfont {font-size:20px;}