<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<{include file='backend/lib/meta.html'}>
<link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
<link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
<script type="text/javascript" src="public/script/jquery.js"></script>
<script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
<script type="text/javascript" src="public/theme/backend/js/list.js"></script>
</head>
<body>
<div class="content">
  <div class="loc"><h2><i class="icon"></i>管理员列表</h2></div>
  <div class="box">
    <div class="doacts">
      <a class="ae add btn" href="<{url m=$MOD c='admin' a='add'}>"><i></i><font>添加新管理员</font></a>
      <a class="ae btn" onclick="doslvent('<{url m=$MOD c='admin' a='edit'}>', 'id')"><i class="edit"></i><font>编辑</font></a>
      <a class="ae btn" onclick="doslvent('<{url m=$MOD c='admin' a='delete'}>', 'id')"><i class="remove"></i><font>删除</font></a>
    </div>
    <div class="module mt5">
      <table class="datalist">
        <tr>
          <th width="50" colspan="2">编号</th>
          <th class="ta-l">用户名</th>
          <th class="ta-l" width="210">电子邮箱</th>
          <th class="ta-l" width="190">姓名称呼</th>
          <th width="130">上次登录日期</th>
          <th width="130">上次登录IP</th>
          <th width="130">创建日期</th>
        </tr>
        <{foreach $results as $v}>
        <tr>
          <td width="20"><input name="id" type="checkbox" value="<{$v.user_id}>" /></td>
          <td width="30"><{$v.user_id}></td>
          <td class="ta-l"><a class="blue" href="<{url m=$MOD c='admin' a='edit' id=$v.user_id}>"><{$v.username}></a></td>
          <td class="ta-l"><{$v.email}></td>
          <td class="ta-l"><{if !empty($v.name)}><{$v.name}><{else}><font class="c999">未设置</font><{/if}></td>
          <td class="c888"><{date('Y-m-d', $v.last_date)}></td>
          <td class="c888"><{$v.last_ip}></td>
          <td class="c888"><{date('Y-m-d', $v.created_date)}></td>
        </tr>
        <{/foreach}>
      </table>
    </div>
    <{if !empty($paging)}>
    <div class="libom mt5"><{html_paging m=$MOD c='admin' a='index' paging=$paging class='paging'}></div>
    <{/if}>
  </div>
</div>
</body>
</html>