<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<{include file='backend/lib/meta.html'}>
<link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
<link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
<script type="text/javascript" src="public/script/jquery.js"></script>
<script type="text/javascript" src="public/theme/backend/js/verydows.js"></script>
<script type="text/javascript">
$(function(){
  $('dl.upsw dt a').click(function(){
    $(this).siblings().removeClass('cur').parent().next('dd').children('div').addClass('hide');
    $(this).addClass('cur').parent().next('dd').find('div').eq($(this).index()).removeClass('hide');
  });
});

function submitForm(){
  $('#name').vdsFieldChecker({rules: {required:[true, '名称不能为空'], maxlen:[60, '名称不能超过60个字符']}});
  $('#url').vdsFieldChecker({rules: {required:[true, '网址不能为空']}});
  $('#seq').vdsFieldChecker({rules: {seq:[true, '排序只能填写0到99的整数']}});
  $('form').vdsFormChecker();
}
</script>
</head>
<body>
<{if $_GET['a'] == 'add'}>
<div class="content">
  <div class="loc"><h2><i class="icon"></i>添加友情链接</h2></div>
  <form method="post" enctype="multipart/form-data" action="<{url m=$MOD c='friendlink' a='add' step='submit'}>">
  <div class="box">
    <div class="module">
      <table class="dataform">
        <tr>
          <th width="110">名称</th>
          <td><input class="w200 txt" name="name" id="name" type="text" /></td>
        </tr>
        <tr>
          <th>网址</th>
          <td><input class="w400 txt" name="url" id="url" type="text" /><p class="caaa mt10">请填写以 "http://" 开头的链接网址</p></td>
        </tr>
        <tr>
          <th>链接LOGO</th>
          <td>
            <dl class="upsw pad5">
              <dt class="pad5"><a class="cur ml5 mr5">上传文件</a><a class="ml10">输入URL</a></dt>
              <dd class="mt5 pad5" id="advimg">
                <div><label><input name="logo_file" type="file" /></label><p class="caaa mt10">仅允许上传 "png"、"jpg"、"jpeg"、"gif" 类型的图片</p></div>
                <div class="hide"><label><input title="URL" name="logo_src" class="w500 txt" type="text" /></label></div>
              </dd>
            </dl>
          </td>
        </tr>
        <tr>
          <th>排序</th>
          <td><input class="w50 txt" name="seq" id="seq" type="text" value="99" /></td>
        </tr>
      </table>
    </div>
    <div class="submitbtn">
      <button type="button" class="ubtn btn" onclick="submitForm()">保存并提交</button>
      <button type="reset" class="fbtn btn">重置表单</button>
    </div>
  </div>
  </form>
</div>
<{else}>
<div class="content">
  <div class="loc"><h2><i class="icon"></i>编辑友情链接:<font class="ml5">[<{$rs.id}>]</font></h2></div>
  <form method="post" enctype="multipart/form-data" action="<{url m=$MOD c='friendlink' a='edit' step='submit' id=$rs.id}>">
    <div class="box">
      <div class="module">
        <table class="dataform">
          <tr>
            <th width="110">名称</th>
            <td><input class="w200 txt" name="name" id="name" type="text" value="<{$rs.name}>" /></td>
          </tr>
          <tr>
            <th>网址</th>
            <td><input class="w400 txt" name="url" id="url" type="text" value="<{$rs.url}>" /><p class="caaa mt10">请填写以 "http://" 开头的链接网址</p></td>
          </tr>
          <tr>
            <th>链接LOGO</th>
            <td>
              <dl class="upsw pad5">
                <{if !empty($rs.logo)}>
                <dt class="pad5"><a class="ml5 mr5">上传文件</a><a class="cur ml10">输入URL</a></dt>
                <dd class="mt5 pad5" id="advimg">
                  <div class="hide">
                    <label><input name="logo_file" type="file" /></label>
                    <p class="c999 mt10">仅允许上传 "png"、"jpg"、"jpeg"、"gif" 类型的图片</p>
                  </div>
                  <div>
                    <label><input name="logo_src" class="w500 txt" type="text" value="<{$rs.logo}>" /></label>
                    <a title="查看图片" class="picflag icon ml5" onclick="$(this).vdsPopMedia({src:'<{$rs.logo}>'})"></a> </div>
                </dd>
                <{else}>
                <dt class="pad5"><a class="cur ml5 mr5">上传文件</a><a class="ml10">输入URL</a></dt>
                <dd class="mt5 pad5" id="advimg">
                  <div>
                    <label><input name="logo_file" type="file" /></label>
                    <p class="c999 mt10">仅允许上传 "png"、"jpg"、"jpeg"、"gif" 类型的图片</p>
                  </div>
                  <div class="hide"><label><input name="logo_src" class="w500 txt" type="text" /></label></div>
                </dd>
                <{/if}>
              </dl>
            </td>
          </tr>
          <tr>
            <th>排序</th>
            <td><input class="w50 txt" name="seq" id="seq" type="text" value="<{$rs.seq}>" /></td>
          </tr>
        </table>
      </div>
      <div class="submitbtn">
        <button type="button" class="ubtn btn" onclick="submitForm()">保存并更新</button>
        <button type="reset" class="fbtn btn">重置表单</button>
      </div>
    </div>
  </form>
</div>
<{/if}>
</body>
</html>