<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<{include file='backend/lib/meta.html'}>
<link rel="stylesheet" type="text/css" href="public/theme/backend/css/verydows.css" />
<link rel="stylesheet" type="text/css" href="public/theme/backend/css/main.css" />
<script type="text/javascript" src="public/script/jquery.js"></script>
<script type="text/javascript">
var countdown = <{$rs.time}>;
$(function(){
  $('#countdown').text(countdown);
  window.setInterval(redirect, 1000); 
})  

function redirect(){
  if(countdown <= 0) {window.clearInterval(); return;}
  countdown --;
  $('#countdown').text(countdown);
  if (countdown == 0){
    window.location.href = '<{$rs.redirect nofilter}>';
  }
}
</script>
</head>
<body>
<div class="content">
  <div class="loc">
    <h2><i class="icon"></i>系统提示</h2>
  </div>
  <div class="box">
    <div class="prompt">
      <h3 class="<{$rs.type}>"><{if is_array($rs.text)}><{foreach $rs.text as $v}><{$v}><br />
        <{/foreach}><{else}><{$rs.text}><{/if}></h3>
      <p class="c999 mt15">系统将在 <span id="countdown">0</span> 秒后自动跳转到系统指定页面</p>
      <p class="mt15"><a href="<{$rs.redirect nofilter}>">如果浏览器没有自动跳转，请点击这里</a></p>
    </div>
  </div>
</div>
</body>
</html>