<tr>
  <th>配置参数</th>
  <td><input type="hidden" name="pcode" value="alipay" />
    <table class="dataform">
      <tr>
        <th width="70">APP ID</th>
        <td><input title="APP ID" class="w300 txt" name="params[app_id]" id="app_id" type="text" value="<{$rs.params.app_id}>" /></td>
      </tr>
      <tr>
        <th>APP KEY</th>
        <td><input title="APP KEY" class="w300 txt" name="params[app_key]" id="app_key" type="text" value="<{$rs.params.app_key}>" /></td>
      </tr>
    </table>
  </td>
</tr>