<tr>
  <th>配置参数</th>
  <td><input type="hidden" name="pcode" value="alipay" />
    <table class="dataform">
      <tr>
        <th width="75">App Key</th>
        <td><input title="App Key" class="w300 txt" name="params[app_key]" id="app_key" type="text" value="<{$rs.params.app_key}>" /></td>
      </tr>
      <tr>
        <th>App Secret</th>
        <td><input title="App Secret" class="w300 txt" name="params[app_secret]" id="app_secret" type="text" value="<{$rs.params.app_secret}>" /></td>
      </tr>
    </table>
  </td>
</tr>