<tr id="type-text" class="type-tr hide">
  <th>文字广告</th>
  <td>
    <div class="pad5">
      <label><font class="c666 mr5">文字内容:</font><input id="text-content" class="w400 txt" name="text_params[content]" type="text" /></label>
      <p class="c999 mt10">(*必填) 在浏览器中显示的文字广告内容</p>
    </div>
    <div class="pad5">
      <font class="c666 mr5">文字样式:</font>
      <span class="mr5"><input title="颜色" type="text" data-style="c:0" class="fwdt widget-color" id="text-color-widget" readonly="readonly" value="#333333" /></span>
      <span class="mr5"><input title="字号" type="text" data-style="s:0" class="fwdt widget-size c666" id="text-size-widget" readonly="readonly" value="字号" /></span>
      <span class="mr5"><input title="加粗" type="text" data-style="b:0" class="fwdt widget-face bold" id="text-bold-widget" readonly="readonly" value="B" /></span>
      <span class="mr5"><input title="下划线" type="text" data-style="u:0" class="fwdt widget-face underline" id="text-underline-widget" readonly="readonly" value="U" /></span>
      <span><input title="斜体" type="text" data-style="i:0" class="fwdt widget-face italic" id="text-italic-widget" readonly="readonly" value="I" /></span>
      <input type="hidden" name="text_params[style]" id="text-style" />
    </div>
    <div class="mt5 pad5">
      <label><font class="c666 mr5">文字链接:</font><input title="文字链接" id="text-link" class="w400 txt" name="text_params[link]" type="text" /></label>
      <p class="c999 mt10">(*必填) 点击文字广告后跳转的URL，站外链接须以"http://"或"https://"开头</p>
    </div>
  </td>
</tr>
