<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎使用 Verydows 开源电商系统程序安装向导</title>
<link rel="stylesheet" type="text/css" href="template/style.css" />
<style type="text/css">
.link a {font-size:12px;color:#fff;font-weight:bold;margin:0 15px;padding:6px 18px;background:#339999;-moz-border-radius:3px;-webkit-border-radius:3px;border-radius:3px;}
.link a:hover {text-decoration:none;color:#ffcc66}
</style>
</head>
<body style="background:#f8f8f8;">
<!-- container start -->
<div style="width:700px;margin:150px auto 0 auto;background:#fff;border:1px solid #f2f2f2;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;">
  <div style="padding:50px;text-align:center;">
    <h1><img src="template/logo.gif" /></h1>
    <h2 class="mt20 f14 green">Verydows 系统程序已经安装完成</h2>
    <div class="mt30 link">
      <a href="../index.php" class="btn" target="_blank">访问首页</a>
      <a href="../index.php?m=backend&c=main&a=index" class="btn" target="_blank">后台管理</a>
    </div>
  </div>
</div>
<!-- container end -->
</body>
</html>
