<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>欢迎使用 Verydows 开源电商系统程序安装向导</title>
<link rel="stylesheet" type="text/css" href="template/style.css" />
</head>
<body style="background:#f8f8f8;">
<!-- container start -->
<div style="width:700px;margin:150px auto 0 auto;background:#fff;border:1px solid #f2f2f2;-moz-border-radius:5px;-webkit-border-radius:5px;border-radius:5px;">
  <div class="ta-c" style="padding:50px;">
    <h1><img src="template/logo.gif" /></h1>
		<h2 class="mt20" style="font-size:14px;color:#999;">欢迎进入 "Verydows 开源电子商务系统" 程序安装向导</h2>
		<div class="mt30"><a href="index.php?step=1" class="sbtn btn">确定安装</a></div>
  </div>
</div>
<!-- container end -->
</body>
</html>
