<div class="step cut">
  <ul>
    <li<?php if($step >= 1){ ?> class="passed"<?php } ?>><div class="circle">1</div><p>第1步：阅读并接受协议</p><?php if($step >= 1){ ?><div class="axis"></div><?php } ?></li>
    <li<?php if($step >= 2){ ?> class="passed"<?php } ?>><div class="circle">2</div><p>第2步：检测运行环境</p><?php if($step >= 2){ ?><div class="axis"></div><?php } ?></li>
    <li<?php if($step >= 3){ ?> class="passed"<?php } ?>><div class="circle">3</div><p>第3步：设置并填写系统配置</p><?php if($step >= 3){ ?><div class="axis"></div><?php } ?></li>
    <li<?php if($step >= 4){ ?> class="passed"<?php } ?>><div class="circle">4</div><p>第4步：程序安装</p><?php if($step >= 4){ ?><div class="axis"></div><?php } ?></li>
  </ul>
  <div class="xaxis"></div>
</div>