<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="verydows-baseurl" content="<{$common.baseurl}>">
<title>系统提示 - <{$GLOBALS.cfg.site_name}></title>
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/general.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/prompt.css" />
<script type="text/javascript" src="<{$common.baseurl}>/public/script/jquery.js"></script>
<script type="text/javascript">
$(function(){
  var $cd = $('#countdown'), $timer = parseInt($cd.text());
  window.setInterval(function(){
    if($timer <= 0){window.clearInterval();return;}
    $timer --;
    $cd.text($timer);
    if($timer == 0){
      if($cd.data('redirect') == 'close'){
        window.opener = null; window.close();
      }else{
        window.location.href = $cd.data('redirect');
      }
    }
  }, 1000); 
});
</script>
</head>
<body>
<div class="w800">
  <div class="aln-c"><a href="<{url c='main' a='index'}>"><img alt="<{$GLOBALS.cfg.site_name}>" src="<{$common.theme}>/images/logo.gif" /></a></div>
  <div class="prompt mt10">
    <h1 class="c666">系统提示</h1>
    <h3 class="mt20 <{$rs.type}>"><{if is_array($rs.text)}><{foreach $rs.text as $v}><{$v}><br /><{/foreach}><{else}><{$rs.text}><{/if}></h3>
    <{if $rs.redirect != 'close'}>
    <p class="c999 mt20">您将在<font id="countdown" class="countdown" data-redirect="<{$rs.redirect nofilter}>"><{$rs.time}></font>秒后自动跳转到系统指定页面</p>
    <p class="mt20"><a href="<{$rs.redirect nofilter}>">如果浏览器没有自动跳转，请点击这里</a></p>
    <{else}>
    <p class="c999 mt20">此页面将在<font id="countdown" class="countdown" data-redirect="<{$rs.redirect nofilter}>"><{$rs.time}></font>秒后自动关闭</p>
    <p class="mt20"><a href="#" onclick="window.opener = null; window.close();">点击直接关闭</a></p>
    <{/if}>
  </div>
</div>
</body>
</html>