<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="verydows-baseurl" content="<{$common.baseurl}>">
<title>咨询反馈 - <{$GLOBALS.cfg.site_name}></title>
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/general.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/user.css" />
<link rel="stylesheet" type="text/css" href="<{$common.theme}>/css/service.css" />
<script type="text/javascript" src="<{$common.baseurl}>/public/script/jquery.js"></script>
<script type="text/javascript" src="<{$common.theme}>/js/general.js"></script>
<script type="text/javascript">
function submitPost(e){
  var form = $(e).closest('form');
  form.find('input[name="subject"]').vdsFieldChecker({rules:{required:[true, '主题不能为空'], maxlen:[120, '主题不能超过120个字符']}});
  form.find('textarea[name="content"]').vdsFieldChecker({rules:{required:[true, '内容不能为空'], minlen:[15, '内容不能少于15个字符'], maxlen:[500, '内容不能超过500个字符']}, tipsPos:'abs'});
  form.find('input[name="mobile"]').vdsFieldChecker({rules:{required:[true, '手机号码不能为空'], mobile:[true, '请填写一个有效的手机号码']}});
  form.vdsFormChecker();
}
</script>
</head>
<body>
<!-- 顶部开始 -->
<{layout_topper common=$common}>
<!-- 顶部结束 -->
<!-- 头部开始 -->
<{layout_header common=$common}>
<!-- 头部结束 -->
<div class="loc w1100">
  <div><a href="<{url c='main' a='index'}>">网站首页</a><b>&gt;</b><font>咨询反馈</font></div>
</div>
<!-- 主体开始 -->
<div class="container w1100 mt10">
  <div class="module cut">
    <!-- 左侧开始 -->
    <div class="w180 fl cut">
      <!-- 用户菜单开始 -->
      <{layout_usermenu}>
      <!-- 用户菜单结束 -->
    </div>
    <!-- 左侧结束 -->
    <!-- 右侧开始 -->
    <div class="w910 cut">
      <div class="mcter">
        <h2>咨询反馈</h2>
        <form method="post" action="<{url c='feedback' a='apply' step='submit'}>">
          <div class="pad10 cut">
            <div class="ptform pad10 aln-l">
              <table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <th width="120">主题：</th>
                  <td><input name="subject" type="text" class="w350 txt" /></td>
                </tr>
                <tr>
                  <th>类型：</th>
                  <td>
                    <div class="pad5">
                      <label><input name="type" type="radio" value="1" checked="checked" /><font class="ml5">商品</font></label>
                      <label class="ml10"><input name="type" type="radio" value="2" /><font class="ml5">活动</font></label>
                      <label class="ml10"><input name="type" type="radio" value="3" /><font class="ml5">售后</font></label>
                      <label class="ml10"><input name="type" type="radio" value="4" /><font class="ml5">投诉</font></label>
                      <label class="ml10"><input name="type" type="radio" value="0" /><font class="ml5">其他</font></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th>详细内容：</th>
                  <td><textarea class="txt" name="content" cols="60" rows="6"></textarea></td>
                </tr>
                <tr>
                  <th>您的手机号码：</th>
                  <td><input class="w150 txt" name="mobile" type="text" /></td>
                </tr>
                <tr>
                  <td colspan="2"><div class="ptform-btn"><button type="button" class="sm-blue" onclick="submitPost(this)">确定提交</button></div></td>
                </tr>
              </table>
            </div>
          </div>
        </form>
      </div>
    </div>
    <!-- 右侧结束 -->
  </div>
  <div class="cl"></div>
  <{layout_helper}>
</div>
<!-- 主体结束 -->
<div class="cl"></div>
<!-- 页脚开始 -->
<{layout_footer}>
<!-- 页脚结束 -->
<script type="text/javascript" src="<{$common.baseurl}>/public/script/juicer.js"></script>
</body>
</html>